@import url('https://fonts.googleapis.com/css2?family=Playfair+Display&family=Vidaloka&display=swap');

* {
  box-sizing: border-box;
}


body {
  margin: 0;
  font-family: 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  color: #E9E8E7;
}